{% load thumbnail %}
<article>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-3" src="{{ im.url }}" style="width: 60%; height: auto;">
  {% endthumbnail %}
      <p class="p-2" style="font-size: 24px; font-weight: bold;">
        {{ post.title }}
      </p>
    Автор: <a href="{% url 'posts:profile' post.author %}">
      {{ post.author.get_full_name|default:post.author.username }}</a>
  <p>
    Дата публикации: {{ post.pub_date|date:"d E Y" }}
  </p>
  {% if show_posts_list %}
  {% if post.group %}
    <p class="nav nav-pills"> 
      <a class="nav-link active" href="{% url 'posts:group_list' post.group.slug %}" style="background-color: rgba(0, 0, 0, 0.836); color: white;">{{ post.group.title }}</a>
    </p>
  {% else %}
    <p>
      <span style="background-color: rgb(127, 245, 137); border-radius: 10px; padding: 5px"> Данный пост не принадлежит какой-либо группе.</span>
    </p>
  {% endif %}
  {% endif %}
  <p></p>
  <p class="nav nav-pills">  
    <a class="nav-link active" href="{% url 'posts:post_detail' post.id %}">Открыть пост</a>
  </p>
</article>