{% extends "base.html" %}
<!-- title == 'Об авторе проекта' :)-->
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container py-5"> 
  <h2>&#128220 База знаний компании ООО ТОП </h2>
  <div class="p-4 p-md-5 mb-5 text-white rounded bg-dark">
    <div class="col-md-10 px-0">
      <h1 class="display-4 fst-italic">{{ text }}</h1>
    <p class="lead my-0">
      Любое найденное решение или освоеный навык требует структурированного описания.
    </p>
    <p class="lead my-0">
      Пишите статьи и делитесь вашим опытом.
    </p>
  </div>
</div>
{% endblock %}