{% extends "base.html" %}
{% block title %}Custom 404{% endblock %}
{% block content %}
<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3">
          <span class="text-danger">Упс!</span> Страница не найдена.
        </p>
        <p class="lead">
          Страницы с адресом 
          <span style="color:rgb(14, 11, 236) bold">
            <b>{{ path }}</b>
          </span> не существует.
        </p>
        <a href="{% url 'posts:index' %}" class="btn btn-primary">Вернуться на главную</a>
    </div>
  </div>
</body>
{% endblock %} 